<li class="{{include.block}}__item"><a class="{{include.block}}__link" href="https://www.secretescapes.de/aktuelle-angebote">Aktuelle Angebote</a></li>
<li class="{{include.block}}__item"><a class="{{include.block}}__link" href="https://www.secretescapes.de/top-destinations">
Beliebte Reiseziele</a></li>
<li class="{{include.block}}__item"><a class="{{include.block}}__link" href="https://www.secretescapes.de/strandurlaub/filter">Strandurlaub</a></li>
<li class="{{include.block}}__item"><a class="{{include.block}}__link {{include.block}}__link--current" href="{{ site.baseurl }}">{{ site.title }}</a></li>