<div class="js-modal modal is-closed">
  <div class="modal__wrap">
    <div class="js-close-modal modal__close"></div>
  </div>
  <div class="modal__wrap">
    <div class="modal__content row--padding">
      <h2 class="title title--small title--sub">Website Image Credits</h2>
      <ol>
        <li>122016-99#0043 (visitnorway-camping-northern-lights-uttakleiv-beach-lofoten-norway-4066825.jpg)
        Name: Camping, Uttakleiv beach in Lofoten
        Credits: Samuel Taipale/visitnorway.com</li>
        <li>122016-99#0040 (visitnorway-alesund-harbour-norway-4066808.jpg)
        Name: Ålesund harbour
        Credits: Samuel Taipale/visitnorway.com</li>
        <li>122016-99#0038 (visitnorway-aksla-viewpoint-alesund-norway-4066797.jpg)
        Name: Aksla viewpoint, Ålesund
        Credits: Samuel Taipale/visitnorway.com</li>
        <li>122016-99#0029 (Visit-Norway-Norge-norway-fotoknoff-4065969.jpg)
        Name: Sunset at Reine Lofoten, Norway
        Credits: FotoKnoff</li>
        <li>122016-99#0027 (Visit-Norway-Norge-norway-fotoknoff-2-4065958.jpg)
        Name: Elton John live at Sverresborg Folk Museum in Trondheim
        Credits: FotoKnoff</li>
        <li>122016-99#0024 (Visit-Norway-Norge-norway-fotoknoff-0358-4065933.jpg)
        Name: River Nidelven and the Radisson BLU Royal Garden Hotel, Trondheim
        Credits: FotoKnoff</li>
        <li>112016-99#0069 (Foap3-3471530.jpg)
        Name: Viewpoint, Lofoten
        Credits: andreas.wolden/Foap/Visitnorway.com</li>
        <li>102016-99#0269 (Foap-voss-Oslo-3311173.jpg)
        Name: Cityscape, Barcode, Oslo
        Credits: voss/Foap/Visitnorway.com</li>
        <li>102016-99#0260 (Foap-jrod139-sognefjord-3310957.jpg)
        Name: Overlooking The Sognefjorden
        Credits: jrod139/Foap/Visitnorway.com</li>
        <li>102016-99#0252 (Foap-maros.kajco.vais-Nakholmen-3310572.jpg)
        Name: Summer day at Nakholmen island, Oslo
        Credits: maros.kajco.vais/Foap/Visitnorway.com</li>
        <li>102016-99#0219 (Foap-julieweiss10-Reine-3307302.jpg)
        Name: Reine, Lofoten
        Credits: julieweiss10/Foap/Visitnorway.com</li>
        <li>102016-99#0197 (Foap-brunellacorrea-Moss-3282011.jpg)
        Name: Atmosphere at the pier, Moss
        Credits: brunellacorrea/Foap/Visitnorway.com</li>
        <li>102016-99#0106 (Foap-cabday-Reine-3204354.jpg)
        Name: Reine, Lofoten
        Credits: cabday/Foap/Visitnorway.com</li>
        <li>022016-99#0002 (Trondheim-DS37527-2565985.jpg)
        Name: Trondheim
        Credits: Knut Aage Dahl/Visitnorway.com</li>
        <li>012016-99#0094 (NYTT-OSEBERGSKIPET-1-2517795.jpg)
        Name: The Oseberg Viking ship
        Credits: Mårten Teigen/The Viking Ship Museum, Museum of Cultural history, University of Oslo/Visitnorway.com</li>
        <li>012016-99#0063 (3-DSC-0903-2506181.jpg)
        Name: View from Reinebringen, Lofoten
        Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0062 (3-DSC-1004-2506165.jpg)
        Name: View from Reinebringen, Lofoten
        Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0055 (6-PSX-20150612-170854-2506118.jpg)
        Name: Kayaking, Refsvika, Lofoten
        Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0054 (9-G0204287-2506112.jpg)
        Name: Kayaking, Hjellestad, Bergen
        Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0051 (0-highres-furmanek2-2506092.jpg)
        Name: Fishing boat and kayak on Kjerkfjorden, Lofoten
        Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0050 (0-G0348120-2-2506086.jpg)
        Name: Fishing boat and kayak on Kjerkfjorden, Lofoten
        Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0023 (ac94-2500291.jpg)
        Name: Camping at Munkebu, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0020 (ac6-2500273.jpg)
        Name: Fisheman's shack at Hamnøy, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0019 (ac69-2500267.jpg)
        Name: Sunset in Reine, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0015 (ac60-2500208.jpg)
        Name: Hiking at Mannen Mountain, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0014 (ac38-2500202.jpg)
        Name: Hiking at Offersøykammen, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0013 (ac19-2500186.jpg)
        Name: Camping at Reinebringen, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0012 (ac44-2500180.jpg)
        Name: Hamnøy, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0010 (ac2-2500124.jpg)
        Name: Winter, Reine, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0009 (ac41-2500102.jpg)
        Name: Northern lights, Hamnøy, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0007 (ac27-2500085.jpg)
        Name: Northern lights, Uttakleiv, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0005 (ac120-2500063.jpg)
        Name: Northern lights from Reinebringen, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0004 (ac121-2500047.jpg)
        Name: Northern lights from Reinebringen, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>012016-99#0001 (ac10-2499997.jpg)
        Name: Couple enjoys northern lights, Fredvang, Lofoten
        Credits: Alex Conu/Visitnorway.com</li>
        <li>122015-99#0004 (stock-photo-midnight-summer-memories-131540777-2471262.jpg)
        Name: Midnight sun, Lofoten
        Credits: Jørn Allan Pedersen/visitnorway.com</li>
        <li>102015-99#0014 (FredrikssonM-3257-2370760.tif)
        Name: Trail running and hiking, Hjørundfjorden
        Credits: Mattias Fredriksson/visitnorway.com </li>
        <li>102015-99#0013 (FredrikssonM-1000-2370753.tif)
        Name: Trail running and hiking, Hjørundfjorden
        Credits: Mattias Fredriksson/visitnorway.com </li>
        <li>102015-99#0005 (FredrikssonM-0223-2370672.tif)
        Name: Trail running and hiking Hjørundfjorden
        Credits: Mattias Fredriksson/visitnorway.com </li>
        <li>122014-99#0024 (lofoten-stromberg3202b-1770431.jpg)
        Name: MTB,Tennesvatnet lake, Moskenes, Lofoten
        Credits: ManfredStromberg.com - visitnorway.com</li>
        <li>122014-99#0021 (lofoten-stromberg2386b-1770413.jpg)
        Name: MTB, Moskenes, Lofoten
        Credits: ManfredStromberg.com - visitnorway.com</li>
        <li>122014-99#0020 (lofoten-stromberg2341b-1770402.jpg)
        Name: MTB, Moskenes, Lofoten
        Credits: ManfredStromberg.com - visitnorway.com</li>
        <li>122014-99#0011 (lofoten-stromberg0108b-1770019.jpg)
        Name: MTB, A in Lofoten
        Credits: ManfredStromberg.com - visitnorway.com</li>
        <li>062014-99#0112 (DSC-0107-1328234.jpg)
        Name: Kayaking, The Fjærlandsfjorden
        Credits: Øyvind Heen - Visitnorway.com</li>
      </ol>
    </div>
  </div>
</div>