<div class="js-modal modal is-closed">
  <div class="modal__wrap">
    <div class="js-close-modal modal__close"></div>
  </div>
  <div class="modal__wrap">
    <div class="modal__content">
      <div class="title title--medium title--sub">Image Credits</div>
      <ol>
        <li>112013-99#0230 (NOV-2482-1663-1039488.tif) Name: Anni's Pølsemakeri Credits: CH - visitnorway.com</li>
        <li>102009-99#0013 (-12-114643.jpg) Name: Fishmarket in Bergen Credits: CH - Visitnorway.com</li>
        <li>052004-99#1813 (Bergen-43364.jpg) Name: Bergen Credits: Pål Hoff/VisitBergen - Visitnorway.com</li>
        <li>012016-99#0063 (3-DSC-0903-2506181.jpg) Name: View from Reinebringen, Lofoten Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0055 (6-PSX-20150612-170854-2506118.jpg) Name: Kayaking, Refsvika, Lofoten Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>062014-99#0112 (DSC-0107-1328234.jpg) Name: Kayaking, The Fjærlandsfjorden Credits: Øyvind Heen - Visitnorway.com</li>
        <li>102016-99#0269 (Foap-voss-Oslo-3311173.jpg) Name: Cityscape, Barcode, Oslo Credits: voss/Foap/Visitnorway.com</li>
        <li>112016-99#0069 (Foap3-3471530.jpg) Name: Viewpoint, Lofoten Credits: andreas.wolden/Foap/Visitnorway.com</li>
        <li>102015-99#0005 (FredrikssonM-0223-2370672.tif) Name: Trail running and hiking Hjørundfjorden Credits: Mattias Fredriksson/visitnorway.com</li>
        <li>102015-99#0013 (FredrikssonM-1000-2370753.tif) Name: Trail running and hiking, Hjørundfjorden Credits: Mattias Fredriksson/visitnorway.com </li>
        <li>102015-99#0014 (FredrikssonM-3257-2370760.tif) Name: Trail running and hiking, Hjørundfjorden Credits: Mattias Fredriksson/visitnorway.com</li>
        <li>122014-99#0024 (lofoten-stromberg3202b-1770431.jpg) Name: MTB,Tennesvatnet lake, Moskenes, Lofoten Credits: ManfredStromberg.com - visitnorway.com</li>
        <li>012016-99#0094 (NYTT-OSEBERGSKIPET-1-2517795.jpg) Name: The Oseberg Viking ship Credits: Mårten Teigen/The Viking Ship Museum, Museum of Cultural history, University of Oslo/Visitnorway.com</li>
        <li>022016-99#0002 (Trondheim-DS37527-2565985.jpg) Name: Trondheim Credits: Knut Aage Dahl/Visitnorway.com</li>
        <li>122016-99#0038 (visitnorway-aksla-viewpoint-alesund-norway-4066797.jpg) Name: Aksla viewpoint, Ålesund Credits: Samuel Taipale/visitnorway.com</li>
        <li>012016-99#0057 (5-DSC00034-2506130.jpg) Name: Kayaking, Reinefjorden, Lofoten Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>062014-99#0080 (Boat22-Lofoten-6368-1327113.tif) Name: Fishing boats, Reine, Lofoten Credits: Mattias Fredriksson Photography AB - Visitnorway.com</li>
        <li>062014-99#0141 (DSC-2348-1328508.jpg) Name: Viewpoint Ørnesvingen, Geirangerfjorden Credits: Øyvind Heen - Visitnorway.com</li>
        <li>062014-99#0143 (DSC-2482-1328520.jpg) Name: Viewpoint Flydalsjuvet, Geirangerfjorden Credits: Øyvind Heen - Visitnorway.com</li>
        <li>062014-99#0093 (DSC-3660-1327930.jpg) Name: Borgund Stave Church Credits: Øyvind Heen - Visitnorway.com</li>
        <li>062014-99#0094 (DSC-3703-1327936.jpg) Name: Borgund Stave Church Credits: Øyvind Heen - Visitnorway.com</li>
        <li>062014-99#0137 (DSC-4895-1328469.jpg) Name: Undredal and the Aurlandsfjorden Credits: Øyvind Heen - Visitnorway.com</li>
        <li>062014-99#0108 (DSC-6110-1328180.jpg) Name: Kayaking, The Aurlandsfjorden Credits: Øyvind Heen - Visitnorway.com</li>
        <li>012015-99#0040 (FJORDNORWAY-RALLARVEGEN-27242-1836436.jpg) Name: The Navvies Road Credits: Sverre Hjørnevik/visitnorway.com</li>
        <li>102016-99#0104 (Foap-cabday-Unstad-1-3204225.jpg) Name: Surfing, Undstad in Lofoten Credits: cabday/Foap/Visitnorway.com</li>
        <li>102016-99#0253 (Foap-nicole.mastromonica-Skudeneshavn-3310612.jpg) Name: Idyllic Skudesneshavn Credits: mastromonica/Foap/Visitnorway.com</li>
        <li>102015-99#0039 (FredrikssonM-7456-2370990.tif) Name: Road cycling, Fjørå Credits: Mattias Fredriksson/visitnorway.com</li>
        <li>122016-99#0051 (visitnorway-ljoen-hellesylt-ferry-2-geirangerfjord-norway.jpg-4066869.jpg) Name: Ferry, Hellesylt, Geirangerfjord Credits: Samuel Taipale/visitnorway.com</li>
        <li>122016-99#0050 (visitnorway-ljoen-hellesylt-ferry-geirangerfjord-norway-4066864.jpg) Name: Ferry, Hellesylt, Geirangerfjord Credits: Samuel Taipale/visitnorway.com</li>
        <li>012016-99#0050 (0-G0348120-2-2506086.jpg) Name: Fishing boat and kayak on Kjerkfjorden, Lofoten Credits: Tomasz Furmanek/Visitnorway.com</li>
        <li>012016-99#0007 (ac27-2500085.jpg) Name: Northern lights, Uttakleiv, Lofoten Credits: Alex Conu/Visitnorway.com</li>
        <li>102015-99#0013 (FredrikssonM-1000-2370753.tif) Name: Trail running and hiking, Hjørundfjorden Credits: Mattias Fredriksson/visitnorway.com</li>
      </ol>
    </div>
  </div>
</div>