<section class="title-banner js-fading-backgrounds">
  <div class="title-banner__wrap">
    {% if page.layout == 'destination' or page.layout == 'category' %}
    <div class="title-banner__bg js-fading-background" style="background-image: url({{site.baseurl}}/img/bg/{% if page.slug %}{{page.slug}}{% else %}{{page.title | slugify}}{% endif %}/01.jpg);"></div>
    <div class="title-banner__bg js-fading-background" style="background-image: url({{site.baseurl}}/img/bg/{% if page.slug %}{{page.slug}}{% else %}{{page.title | slugify}}{% endif %}/02.jpg);"></div>
    <div class="title-banner__bg js-fading-background" style="background-image: url({{site.baseurl}}/img/bg/{% if page.slug %}{{page.slug}}{% else %}{{page.title | slugify}}{% endif %}/03.jpg);"></div>
    {% else %}
    <div class="title-banner__bg" style="background-image: url({{site.baseurl}}/img/bg/{% if page.slug %}{{page.slug}}{% else %}{{page.title | slugify}}{% endif %}.jpg);"></div>
    {% endif %}
    <div class="title-banner__title">
      <h1 class="title title--larger title--expanded title--light">{% if page.title-long %}{{page.title-long}}{% else %}{{page.title}}{% endif %}</h1>
    </div>
  </div>
</section>