// modal specific

$icon-size: 3em;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-overlay;
  background-color: $black;
  background-color: $black-66;
  cursor: pointer;
  overflow: hidden;
  &.is-open { display: block;}
  &.is-closed { display: none; }
  &__ui-wrap {
    position: absolute;
    top: ($margin * 1.5);
    left: 0;
    right: 0;
    bottom: ($margin * 1.5);
    width: 100%;
    max-width: $xxlarge;
    margin-top: 0 !important;
    cursor: auto;
    .modal--video & {
      max-width: $xxxlarge;
      margin-left: auto;
      margin-right: auto;
      overflow-y: hidden;
    }
  }
  &__content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0 !important;
    max-width: $xxlarge;
    cursor: auto;
    overflow-y: auto;
    .flexbox & {
      display: flex;
      align-items: center;
    }
  }
  &__content {
    margin: auto;
    color: $text-black;
    background-color: $white;
    &--padding{
      padding: $margin ($margin/1.5);
      @include bp(large){
        padding: ($margin*1.25) $margin;
      }
    }
  }
  &__close {
    position: fixed;
    right: 0;
    top: 0;
    height: 3em;
    width: 3em;
    background-color: rgba($black, .5);
    background-image: url('../img/icons/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    @include transition;
    .svg & { background-image: url('../img/icons/close.svg'); }
    &:hover{ background-color: $black; }
  }
  &__nav {
    position: absolute;
    bottom: -$icon-size;
    z-index: $z-overlay-upper;
    height: $icon-size;
    width: 50%;
    margin-top: -($icon-size/2);
    background-color: rgba($black, .5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    user-select: none;
    @include transition;
    &--next {
      border-left: 1px solid rgba($white,.25);
      right: 0;
      background-image: url('../img/icons/arrow-right.png');
      .svg & { background-image: url('../img/icons/arrow-right.svg'); }
    }
    &--previous {
      left: 0;
      background-image: url('../img/icons/arrow-left.png');
      .svg & { background-image: url('../img/icons/arrow-left.svg'); }
    }
    &:hover{ background-color: $black; }
  }
  @include bp(small){
    &__content-wrap {
      margin-left: $icon-size;
      margin-right: $icon-size;
    }
    &__nav{
      top: 50%;
      height: ($icon-size*2);
      width: $icon-size;
      &--next{
        border-left: 0;
      }
    }
  }
}

.disable-scroll {
  overflow: hidden;
}


.video {
  position: relative;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-color: #000;
  overflow: hidden;
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .csstransforms.csstransforms3d &__wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}