// Offer block styles

section.offers { border-top: 5px solid $norway-light-grey; }

.offer {
  position: relative;
  // GRID SHIZZ
  margin-bottom: $margin;
  @include bp(large){
    @include layout(12 1);
    @include gallery(6);
    margin-bottom: gutter(12);
    // centers single offer
    &:nth-child(odd):last-child{
      margin-right: auto;
      margin-left: auto;
      float: none !important;
    }
  }
  // END GRID SHIZZ
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    @include transition;
    & .btn { margin-top: 50%; }
    &:hover {
      opacity: 1;
      background-color: $black-25;
      color: $white;
      text-decoration: none;
      & .btn { transform: scale(1.05,1.05); }
      .touch & { display: none; }
    }
    .flexbox & {
      display: flex;
      justify-content: center;
      align-items: center;
      & .btn {
        margin-top: 0;
      }
    }
  }
  &__content {
    padding: $margin;
    border-left: 1px solid $norway-grey;
    border-right: 1px solid $norway-grey;
    border-bottom: 1px solid $norway-grey;
    background-color: $white;
  }
  &__title {
    font-family: $main-font-family;
    font-size: 1.467em;
    letter-spacing: .015em;
    line-height: 1.3;
  }
  &__location {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    text-indent: -1.5em;
    font-size: 0.75em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $text-grey;
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  $circle-height: 50px;
  &__saved {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid $norway-grey;
    padding-right: $margin;
    &-num {
      display: inline-block;
      width: $circle-height;
      height: $circle-height;
      text-align: center;
      color: #fff;
      line-height: $circle-height;
      background-color: $se-orange;
      border-radius: $circle-height;
    }
  }
  &__details {
    display: inline-block;
    vertical-align: middle;
    padding-left: $margin;
  }
  &__price {
    color: $se-orange;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1;
  }
  &__arrow {
    display: inline-block;
    width: $circle-height;
    height: $circle-height;
    border: 1px solid $se-orange;
    border-radius: $circle-height;
    background-repeat: no-repeat;
    background-image: url('../img/icons/arrow-right-orange.png');
    background-size: auto 22px;
    background-position: 20px center;
  .svg & { background-image: url('../img/icons/arrow-right-orange.svg'); }
  }
  &__bottom {
    display: table;
    width: 100%;
    * { vertical-align: middle; }
    strong,
    span { vertical-align: baseline; }
    &-item {
      display: table-cell;
      &--right { text-align: right; }
    }
  }

}