// start the tour carousel for the homepage


$info-height: 70px;

.slider {
  position: relative;
  height: 100%;
  height: calc(100% - #{$info-height + 2});
  color: $white;
  overflow: hidden;
  &__content {
    height: 100%;
    height: calc(100% - #{$info-height + 2});
    @include background-attributes;
    @include transition;
  }
  &__overlay {
    position: absolute;
    top: $core-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    background-color: rgba(8, 26, 51, .45);
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: $z-content;
      padding-top: 25vh;
      .csstransforms.csstransforms3d & {
        top: 50%;
        padding-top: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__info {
    position: absolute;
    left: $margin;
    right: $margin;
    bottom: 0;
    z-index: $z-content-upper;
    height: $info-height;
    pointer-events: none;
    @include bp(xxxlarge){
      right: 0;
      left: 0;
    }
    &-wrap {
      border-top: 1px solid $white-5;
    }
  }
  &__info-right,
  &__info-left {
    position: absolute;
    top: 0;
    z-index: $z-content-upper;
    height: $info-height;
    line-height: $info-height;
    pointer-events: all;
  }
  &__info-right { right: 0; }
  &__info-left {
    left: 0;
    padding-right: 3.5em;
  }
  &__location {
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: .5em;
      margin-bottom: .4em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin-white.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin-white.svg" ); }
    }
  }
}

// reseting all of the owl-carousel styles. also using the classes it gives everything
.owl-carousel {
  position: relative;
  height: 100% !important;
  div:not(.owl-dots):not(.owl-dot):not(.owl-nav) {
 		height: 100% !important;
 	}
}
.owl-dots {
  position: absolute;
  bottom: 0;
  z-index: $z-content-upper;
  display: block;
  height: $info-height;
  width: 100%;
  text-align: center;
  line-height: $info-height;
  background-image: url('../img/bg/slider-gradient.png');
  background-repeat: repeat-x;
}

.owl-dot {
  $dot-size: 10px;
  display: none;
  height: $dot-size;
  width: $dot-size;
  background-color: $white-5;
  border-radius: $dot-size;
  transition: all 1.25s ease; // same time as the slide transition in js file
  & + & { margin-left: 12px; }
  &.active { background-color: $white; }
  @include bp(xlarge){
    display: inline-block;
  }
}

.owl-nav {
  .touch & { display: none !important;} // owl-carousel inlines display:block
  > div {
    position: absolute;
    top: 0;
    width: 40%;
    text-indent: -9999em;
    line-height: 0;
    opacity: 0;
    @include transition;
    &:hover { opacity: 1; }
    &:after{
      content: "";
      position: absolute;
      display: block;
      width: ($margin*8);
      height: 100%;
      background-color: $black-25;
      @include background-attributes;
      background-size: 2.5em;
    }
  }
  .owl-next {
    right: 0;
    &:after {
      right: 0;
      background-image: url('../img/icons/arrow-right.png');
    }
  }
  .owl-prev {
    left: 0;
    &:after {
      left: 0;
      background-image: url('../img/icons/arrow-left.png');
    }
  }
}