// the title banner that appears at the top of every page. sometimes animated bgs


.title-banner {
  position: relative;
  height: 75%;
  text-align: center;
  color: white;
  &__wrap {height: 100%;}
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-color: $norway-dark-grey;
    @include background-attributes;
    .page--overview &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      z-index: 10;
      display: block;
      width: 60%;
      background-image: url('../img/bg/pattern.png');
      background-position: 100% 0%;
      background-size: 1000px;
      background-repeat: no-repeat;
      opacity: .85;
      @include bp(large){
        width: 40%;
        background-position: 100% -10%;
      }
      @include bp(xxxlarge){
        background-position: 100% 5%;
        background-size: 1150px;
      }
    }
  }
  &__title {
    position: absolute;
    top: $core-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    padding-left: $margin;
    padding-right: $margin;
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: $z-content;
      padding-top: 25vh;
      .csstransforms.csstransforms3d & {
        top: 50%;
        padding-top: 0;
        transform: translateY(-50%);
      }
    }
  }
}