---
layout: default
id: offers
nav-order: 7
nav-title: Angebote
title: Angebote
---

{% include title-banner.html %}

{% include microsite-nav.html %}

<section class="section">
  <div class="row row--padding">
    <div class="row">
      <h2 class="align-center title title--small title--color">Der kürzeste Weg zu Ihrem Traumurlaub auf Mauritius</h2>
    </div>
    <div class="row">
      {% assign offers = site.data.offers | sort: 'saved' | reverse %}
      {% for offer in offers %}
        {% include offer-lg.html %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="section offer-promo">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
  </div>
  <div class="row row--padding offer-promo__content">
    <h2 class="title title--core title--medium title--light title--margin-none title--expanded">ABER DAS IST NOCH NICHT ALLES...</h2>
    <p class="p--lead">Mauritius gern, aber nicht jetzt? Wir haben noch viele weitere Angebote weltweit – mit bis 70 % Vergünstigung</p>
    <a href="https://www.secretescapes.de/aktuelle-angebote" class="btn btn--orange" id="track-cta-current-sales">Alle Angebote ansehen</a>
  </div>
</section>